# Flux data

In [1]:
if (grepl("docs", getwd(), fixed = TRUE)) {
  setwd("..")
}

In [2]:
library(REddyProc)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
data <- read.csv("data/CSV/TOA5_3989.flux.csv")

In [7]:
# format timestamps
# specify GMT as tz to prevent DST adjustments
data$TIMESTAMP <- as.POSIXct(
  data$TIMESTAMP, format = "%Y-%m-%d %H:%M:%S", tz = "GMT"
)

In [5]:
head(data)

  TIMESTAMP           RECORD Fc_wpl      LE_wpl     Hs         Hc
1 2014-11-19 12:30:00 29287  -0.02738776  41.111780  27.612760  24.769250
2 2014-11-19 13:00:00 29288  -0.03498442  46.158910  28.565690  25.412010
3 2014-11-19 13:30:00 29289   0.18082340  -6.167122 -24.502530 -23.763400
4 2014-11-19 14:00:00 29290   2.18144700 -36.546420  -8.166809  -5.908159
5 2014-11-19 14:30:00 29291  -0.07790546  37.358010  -5.191130  -7.278997
6 2014-11-19 15:00:00 29292  -0.01854837  29.914260 -19.607910 -21.032380
  tau        u_star    stdev_Ts  cov_Ts_Ux    ⋯ agc_Avg  Fc_irga
1 0.20959440 0.4146389 0.3397227 -0.014964160 ⋯ 56.00000 -0.083516550
2 0.16175210 0.3645584 0.2557280  0.008030742 ⋯ 56.00000 -0.093781110
3 0.18955480 0.3944006 0.8363222 -1.465492000 ⋯ 56.00000  0.224099700
4 0.07494499 0.2468190 0.8353181 -0.894337100 ⋯ 59.64111  2.224159000
5 0.03453151 0.1677954 0.3394781 -0.030340910 ⋯ 56.00000 -0.077377380
6 0.08993658 0.2712201 0.2265035 -0.108646600 ⋯ 56.00000  0.008064821
  LE_irga    co2_wpl_LE  co2_wpl_H   h2o_wpl_LE  h2o_wpl_H  h2o_hmp_mean
1  39.158870  0.01285764  0.04327115  0.41098700  1.5419220 7.890273
2  44.074960  0.01447388  0.04432281  0.46911450  1.6148310 7.987618
3  -4.744839 -0.00156682 -0.04170947 -0.04999511 -1.3722880 7.917885
4 -35.732150 -0.02265313 -0.02005932 -0.36612430 -0.4481432 7.774566
5  37.254240  0.01248777 -0.01301585  0.40426460 -0.3004996 8.205495
6  30.713200  0.01006716 -0.03668035  0.33333760 -1.1322800 8.181075
  t_hmp_mean rh_hmp_mean
1 11.296430  77.49195
2 11.809930  75.96396
3 11.580260  76.34363
4  9.416086  85.95309
5 10.590230  84.24697
6 11.328960  80.18222

In [6]:
nrow(data)

[1] 3023

## Rows with NA data

In [7]:
head(data[!complete.cases(data),])

    TIMESTAMP           RECORD Fc_wpl LE_wpl Hs Hc tau u_star stdev_Ts
82  2014-11-21 05:00:00 29368  NA     NA     NA NA NA  NA     NA
84  2014-11-21 06:00:00 29370  NA     NA     NA NA NA  NA     NA
251 2014-11-24 17:30:00 29537  NA     NA     NA NA NA  NA     NA
252 2014-11-24 18:00:00 29538  NA     NA     NA NA NA  NA     NA
253 2014-11-24 18:30:00 29539  NA     NA     NA NA NA  NA     NA
254 2014-11-24 19:00:00 29540  NA     NA     NA NA NA  NA     NA
    cov_Ts_Ux ⋯ agc_Avg  Fc_irga LE_irga co2_wpl_LE co2_wpl_H h2o_wpl_LE
82  NA        ⋯ 65.89661 NA      NA      NA         NA        NA
84  NA        ⋯ 77.21928 NA      NA      NA         NA        NA
251 NA        ⋯ 91.89167 NA      NA      NA         NA        NA
252 NA        ⋯ 93.99828 NA      NA      NA         NA        NA
253 NA        ⋯ 94.00000 NA      NA      NA         NA        NA
254 NA        ⋯ 94.00000 NA      NA      NA         NA        NA
    h2o_wpl_H h2o_hmp_mean t_hmp_mean rh_hmp_mean
82  NA        8.502651     10.602440  87.23547
84  NA        8.442175     10.508540  87.13308
251 NA        8.087642      8.508600  94.81455
252 NA        7.994737      8.280960  95.10827
253 NA        8.010795      8.294072  95.21899
254 NA        8.000172      8.238930  95.43085

In [8]:
nrow(data[!complete.cases(data),])

[1] 85

In [9]:
sum(is.na(data))

[1] 2773

In [10]:
colSums(is.na(data))

     TIMESTAMP         RECORD         Fc_wpl         LE_wpl             Hs
             0              0             84             84             84
            Hc            tau         u_star       stdev_Ts      cov_Ts_Ux
            84             84             84             84             84
     cov_Ts_Uy      cov_Ts_Uz       stdev_Ux      cov_Ux_Uy      cov_Ux_Uz
            84             84             84             84             84
      stdev_Uy      cov_Uy_Uz       stdev_Uz      stdev_co2     cov_co2_Ux
            84             84             84              1             84
    cov_co2_Uy     cov_co2_Uz      stdev_h2o     cov_h2o_Ux     cov_h2o_Uy
            84             84              0             84             84
    cov_h2o_Uz        Ts_mean         Ux_Avg         Uy_Avg         Uz_Avg
            84             84             84             84             84
      co2_mean        h2o_Avg     rho_a_mean     press_mean panel_temp_Avg
             0              0              0              0              0
      wind_dir   rslt_wnd_spd    std_wnd_dir  batt_volt_Avg  irga_warnings
             0             84              0              0              0
 chopper_f_Tot detector_f_Tot      pll_f_Tot     sync_f_Tot        agc_Avg
             0              0              0              0              0
       Fc_irga        LE_irga     co2_wpl_LE      co2_wpl_H     h2o_wpl_LE
            84             84             84             84             84
     h2o_wpl_H   h2o_hmp_mean     t_hmp_mean    rh_hmp_mean
            84              0              0              0

## Add missing time series rows

In [8]:
# start: first day of the first year at 00:30
# end: first day of the year after the final year at 00:00
# format timestamps - specify GMT as tz to prevent DST adjustments
ts <- seq.POSIXt(
  as.POSIXct(
    paste(format(data$TIMESTAMP[[1]], "%Y"), "-01-01 00:30:00", sep = ""),
    format = "%Y-%m-%d %H:%M:%S", tz = "GMT"
  ),
  as.POSIXct(
    paste(
      as.numeric(format(data$TIMESTAMP[[nrow(data)]], "%Y")) + 1,
      "-01-01 00:00:00", sep = ""
    ),
    format = "%Y-%m-%d %H:%M:%S", tz = "GMT"
  ),
  by = "30 min"
)

In [9]:
ts <- merge(data.frame(TIMESTAMP = ts), data, all = TRUE)

In [13]:
head(ts)

  TIMESTAMP           RECORD Fc_wpl LE_wpl Hs Hc tau u_star stdev_Ts cov_Ts_Ux
1 2014-01-01 00:30:00 NA     NA     NA     NA NA NA  NA     NA       NA
2 2014-01-01 01:00:00 NA     NA     NA     NA NA NA  NA     NA       NA
3 2014-01-01 01:30:00 NA     NA     NA     NA NA NA  NA     NA       NA
4 2014-01-01 02:00:00 NA     NA     NA     NA NA NA  NA     NA       NA
5 2014-01-01 02:30:00 NA     NA     NA     NA NA NA  NA     NA       NA
6 2014-01-01 03:00:00 NA     NA     NA     NA NA NA  NA     NA       NA
  ⋯ agc_Avg Fc_irga LE_irga co2_wpl_LE co2_wpl_H h2o_wpl_LE h2o_wpl_H
1 ⋯ NA      NA      NA      NA         NA        NA         NA
2 ⋯ NA      NA      NA      NA         NA        NA         NA
3 ⋯ NA      NA      NA      NA         NA        NA         NA
4 ⋯ NA      NA      NA      NA         NA        NA         NA
5 ⋯ NA      NA      NA      NA         NA        NA         NA
6 ⋯ NA      NA      NA      NA         NA        NA         NA
  h2o_hmp_mean t_hmp_mean rh_hmp_mean
1 NA           NA         NA
2 NA           NA         NA
3 NA           NA         NA
4 NA           NA         NA
5 NA           NA         NA
6 NA           NA         NA

In [14]:
tail(ts)

      TIMESTAMP           RECORD Fc_wpl LE_wpl Hs Hc tau u_star stdev_Ts
52603 2016-12-31 21:30:00 NA     NA     NA     NA NA NA  NA     NA
52604 2016-12-31 22:00:00 NA     NA     NA     NA NA NA  NA     NA
52605 2016-12-31 22:30:00 NA     NA     NA     NA NA NA  NA     NA
52606 2016-12-31 23:00:00 NA     NA     NA     NA NA NA  NA     NA
52607 2016-12-31 23:30:00 NA     NA     NA     NA NA NA  NA     NA
52608 2017-01-01 00:00:00 NA     NA     NA     NA NA NA  NA     NA
      cov_Ts_Ux ⋯ agc_Avg Fc_irga LE_irga co2_wpl_LE co2_wpl_H h2o_wpl_LE
52603 NA        ⋯ NA      NA      NA      NA         NA        NA
52604 NA        ⋯ NA      NA      NA      NA         NA        NA
52605 NA        ⋯ NA      NA      NA      NA         NA        NA
52606 NA        ⋯ NA      NA      NA      NA         NA        NA
52607 NA        ⋯ NA      NA      NA      NA         NA        NA
52608 NA        ⋯ NA      NA      NA      NA         NA        NA
      h2o_wpl_H h2o_hmp_mean t_hmp_mean rh_hmp_mean
52603 NA        NA           NA         NA
52604 NA        NA           NA         NA
52605 NA        NA           NA         NA
52606 NA        NA           NA         NA
52607 NA        NA           NA         NA
52608 NA        NA           NA         NA

In [15]:
nrow(ts)

[1] 52608

## Unit conversions

## REddyProc

<https://github.com/bgctw/REddyProc>

- The number of steps per day can be 24 (hourly) or 48 (half-hourly).
- The time stamp needs to be provided in POSIX time format, equidistant half-hours, and stamped on the half hour.
- The sEddyProc procedures require at least three months of data.
- Full days of data are preferred: the total amount of data rows should be a multiple of the daily time step, and in accordance with FLUXNET standards, the dataset is spanning from the end of the first (half-)hour (0:30 or 1:00, respectively) and to midnight (0:00)

Source: REddyProc manual

In [57]:
# check time series data - should have 48 daily timestamps
fCheckHHTimeSeries(Time = ts$TIMESTAMP, DTS = 48)

In [58]:
EddyData <- ts

In [59]:
# if not provided, calculate vapour pressure deficit from relative humidity
# and air temperature
EddyData$VPD <- fCalcVPDfromRHandTair(
  rH = EddyData$rh_hmp_mean,
  Tair = EddyData$t_hmp_mean
)

In [18]:
# replace long runs of equal net ecosystem exchange values by NA
EddyData <- filterLongRuns(EddyData, "Fc_wpl")

In [19]:
# initalize R5 reference class sEddyProc for post-processing of eddy data
# with the variables needed for post-processing later
# colnames are NEE, global radiation, air temperature, VPD, and ustar
EProc <- sEddyProc$new(
  ID = "IE-Kil",
  Data = EddyData,
  ColNames = c("Fc_wpl", "swrad??", "t_hmp_mean", "VPD", "u_star"),
  ColPOSIXTime = "TIMESTAMP"
)

New sEddyProc class for site 'IE-Kil'

In [32]:
# location of IE-Kil
EProc$sSetLocationInfo(
  LatDeg = 51.9683611, LongDeg = -9.9003056, TimeZoneHour = 0
)

In [21]:
# fill NEE gaps with MDS gap filling algorithm (without prior ustar filtering)
EProc$sMDSGapFill("Fc_wpl", FillAll = FALSE)

Warning message in sFillInit(Var, QFVar, QFValue, FillAll):
“sMDSGapFill::: The long gap between position 23934 and 42736 will not be filled!”
Warning message in sFillInit(Var, QFVar, QFValue, FillAll):
“sMDSGapFill::: The long gap between position 1 and 15480 will not be filled!”
Warning message in sFillInit(Var, QFVar, QFValue, FillAll):
“sMDSGapFill::: The long gap between position 44092 and 52608 will not be filled!”
Warning message in sFillInit(Var, QFVar, QFValue, FillAll):
“sMDSGapFill::: The long gap between position 18655 and 22580 will not be filled!”
Initialized variable 'Fc_wpl' with 49669 real gaps for gap filling.

Restriced MDS algorithm for gap filling of 'Fc_wpl' with no meteo conditions and hence only MDC.

Warning message in EProc$sMDSGapFill("Fc_wpl", FillAll = FALSE):
“sMDSGapFill::: No meteo available for MDS gap filling!”
Mean diurnal course with window size of 0 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
39

Mean diurnal course with window size of 1 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
83

Mean diurnal course with window size of 2 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
48

Mean diurnal course with window size of 7 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
240

Mean diurnal course with window size of 14 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
336

Mean diurnal course with window size of 21 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
336

Mean diurnal course with window size of 28 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
336

Mean diurnal course with window size of 35 days: .

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
337

Mean diurnal course with window size of 42 days: .

.
.
.
.
.
.
.
.
.
.
.
336

Mean diurnal course with window size of 49 days: .

.
.
.
.
.
.
.
.
336

Mean diurnal course with window size of 56 days: .

.
.
.
.
.
336

Mean diurnal course with window size of 63 days: .

.
180

Finished gap filling of 'Fc_wpl' in 1 seconds. Artificial gaps filled: 5882, real gaps filled: 49669, unfilled (long) gaps: 46726.

In [22]:
# export gap filled and partitioned data to standard data frame
FilledEddyData <- EProc$sExportResults()

In [27]:
head(FilledEddyData[!is.na(FilledEddyData),])

      Fc_wpl_orig Fc_wpl_f    Fc_wpl_fqc Fc_wpl_fall Fc_wpl_fall_qc Fc_wpl_fnum
15481 -0.02738776 -0.02738776 0          -0.02738776 NA             NA
15482 -0.03498442 -0.03498442 0          -0.03498442 NA             NA
15483  0.18082340  0.18082340 0           0.18082340 NA             NA
15484  2.18144700  2.18144700 0           2.18144700 NA             NA
15485 -0.07790546 -0.07790546 0          -0.07790546 NA             NA
15486 -0.01854837 -0.01854837 0          -0.01854837 NA             NA
      Fc_wpl_fsd Fc_wpl_fmeth Fc_wpl_fwin
15481 NA         NA           NA
15482 NA         NA           NA
15483 NA         NA           NA
15484 NA         NA           NA
15485 NA         NA           NA
15486 NA         NA           NA

## Save

In [28]:
# convert timestamp back to character before saving
# https://stackoverflow.com/q/76259729
ts$TIMESTAMP <- format(ts$TIMESTAMP)

In [29]:
write.table(
  ts, "data/flux/3989.flux.csv", row.names = FALSE, sep = ",", quote = FALSE
)

In [30]:
write.table(
  FilledEddyData, "data/flux/3989.flux.filled.csv", sep = ",", quote = FALSE
)